<%= link_to "Add a new cocktail", new_cocktail_path %>
<h2>Here are our freshiest cocktails:</h2>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %> </li>
  <% end %>
</ul>

